{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}

    <div class="container josh">

        <div class="catshow">

            <h1>Nos peluches</h1>

            <div class="wrapper">
                <div id="search-container">
                    <input type="search" id="search-input" placeholder="Search product name here..."/>
                    <button id="search">Search</button>
                </div>
                <div id="buttons">
                    <button class="button-value">Ours</button>
                    <button class="button-value">Renard</button>
                    <button class="button-value">Lapin</button>
                    <button class="button-value">Chien</button>
                    <button class="button-value">Chat</button>
                </div>

            </div>


            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                {% for produit in produits %}
                        <div class="col">

                            <div class="card mb-4 rounded-3 shadow-sm border border-warning border-3">
                                <img src= {{ asset('uploads/' ~ produit.imageFilename )}} height="480px" width="100%" display= "block"/>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ produit.nom }}</h5>
                                        <p class="card-text">{{ produit.prix }}€</p>
                                        <a href="{{ path('app_renard_show', {'id': produit.id}) }}" class="btn btn-sm btn-primary">Voir</a>
                                    </div>                          
                            </div>     

                        </div>

                {% else %}
                <p>Aucune carte trouvée dans le catalogue</p>
                {% endfor %}

            </div>
            
        </div>

    </div>

{% endblock %}



    
        
       
        
